<app-section className="container">
    <app-section className="content">

        <app-section className="img-container">
            <app-image [imageName]="uiELement.imageName" [imageExtraClasses]="uiELement.imageExtraClases"
                imageAltText="Bulb" imageCtrlId="bulbImage"></app-image>
        </app-section>

        <app-section className="toggle-wrapper">
            <app-checkbox [inputValue]="uiELement.checkboxValue" (inputValueChange)="onCheckBoxValueChange($event)"
                inputId="toggleBulb"></app-checkbox>
        </app-section>

        @if (uiELement.checkboxValue) {
        <app-section className="brightness-slider">
            <app-input inputType="range" inputId="toggleBulb" inputMin="0.1" inputMax="1" inputStep="0.1"
                [inputValue]="uiELement.sliderValue"
                (inputValueChange)="onBackgroundBrightnessChange($event)"></app-input>
        </app-section>
        }@else {
        @let nested = uiELement.isTimerRunning ? 'Stop' : 'Start';

        <app-section className="timer-section">
            <app-input inputType="number" inputMin="1" inputId="timerInputId" [inputValue]="uiELement.currentTime"
                (inputValueChange)="onCurrentTimeInputChange($event)"></app-input>
            <button id="timerStart" [class]="disableButton ? 'disabled' : ''" (click)="onStartOrStopTimerClick($event)">{{nested}}</button>
            <button id="timerReset" [class]="disableButton ? 'disabled' : ''" (click)="onResetClick()">Reset</button>
        </app-section>
        }

    </app-section>
</app-section>